---
// src/components/Navigation.astro
import { navlinks, navlinkItem } from "../styles/styles";

interface Props {
  overrideClass?: string;
  containerClass?: string;
}

const { overrideClass, containerClass } = Astro.props;

const container = containerClass ?? navlinks;
const linkClass = overrideClass ?? navlinkItem;

const t = {
    home: 'Home',
    about: 'About',
 
    video: "Video and Motion",
        animation: "3D Animation",
    photo: "Photography",
    contact: 'Contact',
    recs: 'Recommendations',

};

---

<div id="navlinks" class={container} >
      <a href=`/contact/` class={linkClass}>{t.contact}</a>

  <a href=`/about/` class={linkClass}>{t.about}</a>
    <a href=`/video-and-motion/` class={linkClass}>{t.video}</a>
  <a href=`/3d-animation/` class={linkClass}>{t.animation}</a>
    <a href=`/photography/` class={linkClass}>{t.photo}</a>
        <a href=`/recommendations/` class={linkClass}>{t.recs}</a>

      <a href=`/` class={linkClass}>{t.home}</a>


</div>

