---
// src/components/Navigation.astro
import { navlinks, navlinkItem } from "../styles/styles";

interface Props {
  overrideClass?: string;
  containerClass?: string;
}

const { overrideClass, containerClass } = Astro.props;

const container = containerClass ?? navlinks;
const linkClass = overrideClass ?? navlinkItem;

const t = {
    home: 'HOME',
    about: 'ABOUT',
 
    video: "VIDEO & MOTION",
        animation: "3D ANIMATION",
    photo: "PHOTOGRAPHY",
    contact: 'CONTACT',

};

---

<div id="navlinks" class={container} >
      <a href=`/contact/` class={linkClass}>{t.contact}</a>

  <a href=`/about/` class={linkClass}>{t.about}</a>
    <a href=`/video_and_motion/` class={linkClass}>{t.video}</a>
  <a href=`/animation_3d/` class={linkClass}>{t.animation}</a>
    <a href=`/photography/` class={linkClass}>{t.photo}</a>

      <a href=`/` class={linkClass}>{t.home}</a>


</div>

