---
// src/components/Navigation.astro
import { navlinks, navlinkItem } from "../styles/styles";

interface Props {
  overrideClass?: string;
  containerClass?: string;
}

const { overrideClass, containerClass } = Astro.props;

const container = containerClass ?? navlinks;
const linkClass = overrideClass ?? navlinkItem;

const t = {
    home: 'Home',
    about: 'About',
 
    video: "Video & Motion",
        animation: "3D animation",
    photo: "Photography",
    contact: 'Contact',

};

---

<div id="navlinks" class={container} >
      <a href=`/` class={linkClass}>{t.home}</a>

    <a href=`/video_and_motion/` class={linkClass}>{t.video}</a>
  <a href=`/animation_3d/` class={linkClass}>{t.animation}</a>
    <a href=`/photography/` class={linkClass}>{t.photo}</a>
    <a href=`/about/` class={linkClass}>{t.about}</a>



</div>

